<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" type="image/png" sizes="16x16" href="plugins/images/favicon.png">
    <title><%= title%></title>
    <% include templates/headlinks %>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
    <link rel="stylesheet" href="customcss/toast2.css">
    <style type="text/css">
      .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
            background-color: rgb(0, 195, 255);
         }
      </style>
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <% include templates/topnavbar %>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <% include templates/leftsidebar %>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title" style="font-size: 15px"><a href="#">Vendors</a></h4> </div>
                    <!-- <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        
                        <ol class="breadcrumb">
                            <li><a href="#">Dashboard</a></li>
                        </ol>
                    </div> -->
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#vendorModal">
                            Add Vendor
                          </button>
                          <% include templates/vendorModal %>
                          <center> <h1 class="box-title">Vendors Data</h1></center>
                    <div style="margin-left: -20px">
                        <table
                        id="vendortable"
                        data-toggle="table"
                        data-show-refresh="true"
                        data-show-toggle="true"
                        data-show-columns="true"
                        data-search="true"
                        data-select-item-name="toolbar1"
                        data-pagination="true"
                        data-sort-name="name"
                        data-sort-order="desc"
                        class="table-hover"
                      >
                        <thead class="thead-dark" style="background-color:black;">
                          <tr>
                            <th></th>
                            <th data-sortable="true"><b style="color: white">FirstName</b></th>
                            <th data-sortable="true"><b style="color: white">LastName</b></th>
                            <th data-sortable="true"><b style="color: white">UserName</b></th>
                            <th data-sortable="true"><b style="color: white">Email</b></th>
                            <th data-sortable="true"><b style="color: white">Gender</b></th>
                            
                            <!-- <th data-sortable="true"><b style="color: white">Location</b></th> -->
                            <th data-sortable="true"><b style="color: white">Address</b></th>
                            <th data-sortable="true"><b style="color: white">PhoneNo</b></th>
                            <th></th>
                          </tr>
                        </thead>
            
                        <tbody style="background-color:white">
                          <% vendors.map((vendor)=>{%>
                          <tr style="color:black; font-size:medium">
                            <td class="text-oflo"><p style="visibility: hidden; width: 0px"><%= vendor._id%></p></td>
                            <td class="text-alert"><%= vendor.firstName%></td>
                            <td class="text-alert"><%= vendor.lastName%></td>
                            <td class="text-alert" style="width: 3%"><%= vendor.userName%></td>
                            <td class="text-alert"><%= vendor.email%></td>
                            <td class="text-alert"><%= vendor.gender%></td>
                            
                            <td class="text-alert"><%= vendor.location%>/<%=vendor.address%></td>
                            <td class="text-alert"><%= vendor.phoneNo%></td>
                            <td>
                                <div class="btn-group dropleft">
                                    <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Action
                                    </button>
                                    <div class="dropdown-menu">
                                      <!-- Dropdown menu links -->
                            
                            <button  class="btn btn-primary btn-xs dropdown-item" type="button" style="margin: 3px" onclick="handleUpdate('<%= vendor._id%>')">Update</button><br>
                            <button  class="btn btn-danger btn-xs dropdown-item" type="button" style="margin: 3px">Remove</button><br>
                                    </div>
                                  </div>
                            </td>  
                          </tr>
                          <% });%>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    </div>
                </div>
                <!-- row end -->
                </div>
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2019 &copy;<a href="https://nesl-it.com/"> <b>Nesl-it </b></a> </footer>
            <div id="toast1" style="margin-top: 160px"></div>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <% include templates/scripts %>
<script src="js/bootstrap-table.js"></script>
    <script src="customjs/jwt-decode.min.js"></script>
    <script src="customjs/authService.js"></script>
    <script src="customjs/toast2.js"></script>

    <script>
        
        $(document).ready(function(){
            try {
              
              const jwt=getJwt();
              if(jwt){//check JWT
               
                    $("#vendorForm").submit(function() {
                      const vendor= { 
                   firstName:$("#firstName").val(),
                   lastName:$("#lastName").val(),
                   userName:$("#userName").val(),
                   email:$("#email").val(),
                   gender:$("#gender").val(),
                   location:$("#location").val(),
                   address:$("#address").val(),
                   phoneNo:$("#phoneNo").val()};//clent
          
            $.ajax({
              global: false,
              type: "post",
              url: "/vendor",
              dataType: "json",
              data: vendor,
              beforeSend: function(xhr){xhr.setRequestHeader('x-auth-token', jwt);},
              success: function(result) {
                showToast2("Vendor Add successfully");
              //  setTimeout(()=>{
              //   window.location.href="http://localhost:3000/vendor";
              //  },1000);
              },//end of success
              error: function(xhr, status, error) {
                 showToast2(`${xhr.responseText}`);
                //  status: ${xhr.status} ${xhr.statusText}
                 }//error
            });//end of ajax
          
          return false;
        });//end of submit
      }//end of check JWT
      else{
        window.location.href="http://localhost:3000/login";
      }      
            } // end of try
            catch (error)
             {
                showToast(""+error);
             }
            
        });
      </script>
      <!-- load Vendor -->
      <script>
        function handleUpdate(id){
          $("#updateVendorModal").modal('show');
          try {
               const jwt =getJwt();
               if(jwt){
                $.ajax({
                  global: false,
                  type: "get",
                  url: "/vendor/"+id,
                  // dataType: "json",
                  // data:stock,
                   beforeSend: function(xhr){xhr.setRequestHeader('x-auth-token', jwt);},
                  success: function(result) {
                    //  alert(result.stock.productName);
                          $("#updateFirstName").val(result.vendor.firstName),
                          $("#updateLastName").val(result.vendor.lastName),
                          $("#updateUserName").val(result.vendor.userName),
                          $("#updateQuantity").val(result),
                          $("#updateEmail").val(result.vendor.email),
                          $("#updateGender").val(result.vendor.gender),
                          $("#updateLocation").val(result.vendor.location)
                         $("#updateAddress").val(result.vendor.address);
                         $("#updatePhoneNo").val(result.vendor.phoneNo);
                         $("#vendorId").val(result.vendor._id);
                  },//end of success
                  error: function(xhr, status, error) {
                     alert(`${xhr.responseText}`);
                    //  status: ${xhr.status} ${xhr.statusText}
                     }//error
                });//end of ajax
               }//end of jwt 
               else{
                window.location.href="http://localhost:3000/login";
               }
                
                } // end of try
                catch (error)
                 {
                    alert(""+error);
                 } 
          }
              </script>
              <!-- submit update vendor -->
              <script>
                $(document).ready(()=>{
                  try {
                     const jwt=getJwt();
                    if(jwt){//check JWT
                        $("#updateVendorForm").submit(function() {
                          const vendor= { 
                           firstName:$("#updateFirstName").val(),
                           lastName:$("#updateLastName").val(),
                           userName:$("#updateUserName").val(),
                           email:$("#updateEmail").val(),
                           gender:$("#updateGender").val(),
                           location:$("#updateLocation").val(),
                           address:$("#updateAddress").val(),
                           phoneNo:$("#updatePhoneNo").val()};//clent
                          const id=$("#vendorId").val();
                $.ajax({
                  global: false,
                  type: "put",
                  url: "/vendor/"+id,
                  dataType: "json",
                  data:vendor,
                   beforeSend: function(xhr){xhr.setRequestHeader('x-auth-token', jwt);},
                  success: function(result) {
                    // alert("Update Stock successfully");
                    showToast("vendor Update successfully");
                   setTimeout(()=>{
                    window.location.href="http://localhost:3000/vendor";
                   },500);
                  },//end of success
                  error: function(xhr, status, error) {
                     showToast(`${xhr.responseText}`);
                    //  status: ${xhr.status} ${xhr.statusText}
                     }//error
                });//end of ajax
              
              return false;
            });//end of submit
           }//end of check JWT
           else{
             window.location.href="http://localhost:3000/login";
           }      
                } // end of try
                catch (error)
                 {
                    alert(""+error);
                 }
                })
              </script>
              <!-- delete vendor -->
              <script>
                $("#vendortable tbody").on("click",".btn-danger",function(){     
                       // $(this).closest('tr').remove();
                       var currow=$(this).closest('tr');
                       var id=currow.find('td:eq(0)').text();
                       var userName=currow.find('td:eq(3)').text();
                       const conf=confirm(`Do you want to Delete ${userName}?`)
                       if(conf===true){
                         try {
                      const jwt =getJwt();
                      if(jwt){
                        $.ajax({
                         global: false,
                         type: "delete",
                         url: "/vendor/"+id,
                         beforeSend: function(xhr){xhr.setRequestHeader('x-auth-token', jwt)},
                         success: function(result) {
                         currow.closest('tr').remove();
                         showToast1(`${result.m}`);    
                         },//end of success
                         error: function(xhr, status, error) {
                           // alert(`Error: ${xhr.responseText}`)
                            showToast1(`${xhr.responseText}`);
                           //  status: ${xhr.status} ${xhr.statusText}
                            }//error
                       });//end of ajax
                      }//end of check jwt
                      else{
                        window.location.href="http://localhost:3000/login";
                      }
                       
                       } // end of try
                       catch (error)
                        {
                           showToast(""+error);
                        } 
                       }
                      
                         });
                
           
             </script>


<script>
    $(document).ready(()=>{
         user = getCurrentUser();
    if (user) {
      $("#user").text(user.fullname);
      $("#logout").text("logout");
      $("#logout").click(()=>{
        logoutUser();
        window.location.href="http://localhost:3000/login";
      })
    } else {
      window.location.href="http://localhost:3000/login";
    }
    })
  </script>
</body>
</html>
